<div class="available">
    <h3>Hungry? Try one of these tasty burgers.</h3>
    <ul>
        {{#each burgers}}
            {{#unless devoured}}
                <button type="submit" class="burger-title" id="devour-button" data-id={{id}}>{{burger_name}}</button>
            {{/unless}}
        {{/each}}
    </ul>
</div>
<br>
<hr>
<br>
<div class="eaten">
    <h3>These burgers are currently unavailable, sorry.</h3>
    <ul>
        {{#each burgers}}
            {{#if devoured}}
                <button type="submit" class="burger-title" id="no-burger-title" data-id={{id}}>{{burger_name}}</button>
            {{/if}}
        {{/each}}
    </ul>
</div>

<div class="byoburger">
    <form class="burger-creator" method="POST" action="/insertOne">
        <label>
            What type of burger would you like to add to the menu?
        </label>
        <input type="text" id="new-burger" placeholder="Ex: Black Bean Burger">
        <button type="submit" id="add-burger">Add to Menu</button>
    </form>
</div>